blinker==1.7.0
click==8.1.7
colorama==0.4.6
Flask==3.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Levenshtein==0.22.0
MarkupSafe==2.1.3
mpstemmer @ git+https://github.com/ariaghora/mpstemmer.git@25a5fd923af163a7eac3a5ec976984156ca8fa8b
PySastrawi==1.2.0
python-Levenshtein==0.22.0
rapidfuzz==3.3.1
tqdm==4.66.1
Werkzeug==3.0.1
nltk==3.8.1