{% extends 'base.html' %}

{%block title%}Serch{%endblock%}

{%block content%}
<main class="flex flex-col justify-center gap-[4rem] px-[4rem] h-full md:h-1/2">
    <div class="flex justify-center w-full">
        <h1 class="text-6xl font-bold font-exo text-text">
            <a href="/">
                SERCH
            </a>
        </h1>
    </div>

    <div class="w-full flex shadow-lg">
        <form class="w-full flex" action="/search">
            <input class="grow p-[1rem] rounded-l-lg text-lg focus:outline-0 text-black" 
                   type="text" id="search" name="q" placeholder="Search" required>
            <button class="px-[1rem] w-fit md:w-1/6 h-full rounded-r-lg text-lg bg-primary
                           hover:shadow-xl hover:scale-125 duration-300
                           text-2xl text-center font-bold font-exo text-background" 
                    type="submit" id="submit">
                Serch!
            </button>
        </form>
    </div>
</main>
{%endblock%}
