{% extends 'base.html' %}

{%block title%}{{ query }}{%endblock%}

{%block content%}

<main class="flex flex-col gap-[1rem] md:gap-[2rem] px-[1rem] md:px-[4rem] h-full">
    <!-- Search Bar -->
    <div class="flex justify-between items-center md:gap-[2rem] w-full">
        <div class="w-fit hidden md:block">
            <h1 class="text-4xl font-bold font-exo hover:underline text-text">
                <a href="/">
                    SERCH
                </a>
            </h1>
        </div>
        <div class="flex grow">
            <form class="w-full flex shadow-xl" action="/search">
                <input class="grow p-[0.5rem] rounded-l-lg text-lg focus:outline-0" 
                       type="text" id="search" placeholder="Search" 
                       name="q" value="{{ query }}" required>
                <button class="md:w-1/6 p-[0.5rem] rounded-r-lg text-lg bg-primary
                               hover:shadow-xl hover:scale-125 duration-300
                               text-xl text-center font-bold font-exo text-background" 
                        type="submit" id="submit">
                    Serch
                </button>
            </form>
        </div>
    </div>
    <!-- Search Bar -->


    <!-- Results -->
    <h3 class="text-lg font-bold text-[#2a3f55] underline-offset-2 decoration-2
            group-hover:text-accent hover:underline">
            Showing {{ result_len }} result(s).
        </h3>
    <div class="flex flex-col bg-gray-200 rounded-lg">
        <!-- Query Results Object -->
        <br/>
        {% for result_pair in result %}
        <div class="px-[1rem] py-[1.5rem] bg-gray-200 group hover:scale-[1.05] hover:bg-gray-300 first:rounded-t-lg last:rounded-b-lg">
            <a href="/document/{{ result_pair[1] }}" 
               class="text-lg font-bold text-[#2a3f55] underline-offset-2 decoration-2
                      group-hover:text-accent hover:underline">
                Document {{ result_pair[1] }}
            </a> 
            <!--<p class="text-xs">Retrieved with score {{ result_pair[0]}}</p>-->
            <p>
                {{ result_pair[2] }}
            </p>
        </div>
        <br/>
        {% endfor %}
    </div>
    <!-- Results -->


    <!-- Pagination -->
    <div class="flex justify-center pt-[1rem] pb-[2rem] md:pt-[0rem] gap-[2rem] w-full 
                text-lg text-text dark:text-white">
        <a href="#" class="font-bold">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </div>
    <!-- Pagination -->

</main>
{%endblock%}
