{% extends 'base.html' %}

{%block title%}{{ query }}{%endblock%}

{%block content%}

<main class="flex flex-col gap-[1rem] md:gap-[2rem] px-[1rem] md:px-[4rem] h-full">
    <!-- Search Bar -->
    <div class="flex justify-between items-center md:gap-[2rem] w-full">
        <div class="w-fit hidden md:block">
            <h1 class="text-4xl font-bold font-exo hover:underline text-text">
                <a href="/">
                    SERCH
                </a>
            </h1>
        </div>
        <div class="flex grow">
            <form class="w-full flex shadow-xl" action="/search">
                <input class="grow p-[0.5rem] rounded-l-lg text-lg focus:outline-0" 
                       type="text" id="search" placeholder="Search" 
                       name="q" value="{{ query }}" required>
                <button class="md:w-1/6 p-[0.5rem] rounded-r-lg text-lg bg-primary
                               hover:shadow-xl hover:scale-125 duration-300
                               text-xl text-center font-bold font-exo text-background" 
                        type="submit" id="submit">
                    Serch
                </button>
            </form>
        </div>
    </div>
    <!-- Search Bar -->


    <!-- Results -->
    <h3 class="text-lg font-bold text-[#2a3f55] underline-offset-2 decoration-2
            group-hover:text-accent hover:underline">
            Showing {{ result_len }} result(s).
        </h3>
    <div id="content" class="flex flex-col bg-gray-200 rounded-lg">
        <!-- Query Results Object -->
        <br/>

    </div>
    <!-- Results -->


    <!-- Pagination -->
    <div id="pagination" class="flex justify-center pt-[1rem] pb-[2rem] md:pt-[0rem] gap-[2rem] w-full 
                text-lg text-text dark:text-white">
        
    </div>
    <!-- Pagination -->

</main>
{%endblock%}
{% block extrascript %}
<script type="text/javascript">
var dataInit = {{ result | tojson }}; 
var data = JSON.parse(dataInit);// Your data array
var current_page = 1;
var records_per_page = 10;

function prevPage() {
    if (current_page > 1) {
        current_page--;
        changePage(current_page);
    }
}

function nextPage() {
    if (current_page < numPages()) {
        current_page++;
        changePage(current_page);
    } 
}

function changePage(page) {
    var content = document.getElementById("content");
    var pagination = document.getElementById("pagination");

    // Validate page
    if (page < 1) page = 1;
    if (page > numPages()) page = numPages();

    content.innerHTML = "";

    for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < data.length; i++) {
        var htmlResult = `<div class='px-[1rem] py-[1.5rem] bg-gray-200 
            group hover:scale-[1.05] hover:bg-gray-300 first:rounded-t-lg last:rounded-b-lg'>
            <a href='/document/${ data[i][1] }/${ data[i][2] }' 
            class='text-lg font-bold text-[#2a3f55] underline-offset-2 decoration-2 group-hover:text-accent hover:underline'> 
            Document ${data[i][2]}
            </a> 
            <p>
                ${ data[i][3] }
            </p>
        </div>
        <br/>`
        content.innerHTML += htmlResult;
    }

    pagination.innerHTML = "<a href='javascript:prevPage()'>Prev</a> <a href='javascript:nextPage()'>Next</a>";

    if (page == 1) {
        pagination.style.visibility = "hidden";
    } else {
        pagination.style.visibility = "visible";
    }

    if (page == numPages()) {
        pagination.style.visibility = "hidden";
    } else {
        pagination.style.visibility = "visible";
    }
}

function numPages() {
    return Math.ceil(data.length / records_per_page);
}

window.onload = function() {
    changePage(1);
};

</script>
{%endblock extrascript%}